.App {

  background-color: #130125;
  
}


.NameProgrammer {
  margin-top: 32px;
  margin-left: 80px;
  margin-bottom: 32px;
  color: wheat;

  font-family: 'Kanit', sans-serif;
  font-weight: 200px;
  font-size: 32px;
}

.buttons {
  margin-top: 39px;
  margin-bottom: 39px;
  display: flex;
  font-family: 'Kanit', sans-serif;
}

.secondComponent {
  margin-left: 80px ;
  background-color: #130125;
  
}
.second_component_two {
  border-color: chartreuse;
  color: antiquewhite;
}


